body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-190px;
  width:290px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:280px;
  width:290px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:41px;
  width:286px;
  word-wrap:break-word;
}
