body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:220px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:204px;
  visibility:hidden;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:150px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:150px;
}
#u2 {
  position:absolute;
  left:2px;
  top:67px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:40px;
  width:210px;
  height:100px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u5 {
  position:absolute;
  left:10px;
  top:2px;
  width:180px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u7 {
  position:absolute;
  left:10px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:30px;
  height:30px;
  color:#999999;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:0px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:218px;
  width:220px;
  height:124px;
}
.u11 {
  position:absolute;
  left:20px;
  top:10px;
  width:200px;
  height:50px;
}
.u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
.u12 {
  position:absolute;
  left:10px;
  top:16px;
  width:180px;
  word-wrap:break-word;
}
.u13 {
  position:absolute;
  left:10px;
  top:62px;
  width:10px;
  height:-27px;
}
.u13_seg0 {
  position:absolute;
  left:-10px;
  top:-37px;
  width:20px;
  height:41px;
}
.u13_seg1 {
  position:absolute;
  left:-10px;
  top:-37px;
  width:24px;
  height:20px;
}
.u14 {
  position:absolute;
  left:-50px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15 {
  position:absolute;
  left:10px;
  top:0px;
  width:10px;
  height:35px;
}
.u15_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:49px;
}
.u15_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:24px;
  height:20px;
}
.u16 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17 {
  position:absolute;
  left:20px;
  top:0px;
}
.u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
.u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#33CC00;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u20 {
  position:absolute;
  left:3px;
  top:4px;
  width:15px;
  word-wrap:break-word;
}
.u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#0066FF;
  line-height:normal;
}
.u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u23 {
  position:absolute;
  left:3px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
.u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FAA634;
}
.u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u26 {
  position:absolute;
  left:3px;
  top:3px;
  width:15px;
  word-wrap:break-word;
}
.u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#CC0000;
}
.u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u29 {
  position:absolute;
  left:4px;
  top:5px;
  width:14px;
  word-wrap:break-word;
}
.u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#9900CC;
}
.u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u32 {
  position:absolute;
  left:3px;
  top:4px;
  width:15px;
  word-wrap:break-word;
}
.u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FF9900;
}
.u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u35 {
  position:absolute;
  left:3px;
  top:4px;
  width:15px;
  word-wrap:break-word;
}
.u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  overflow:hidden;
  visibility:hidden;
}
.u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
.u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u37_img.mouseOver {
}
.u37.mouseOver {
}
.u38 {
  position:absolute;
  left:3px;
  top:4px;
  width:15px;
  word-wrap:break-word;
}
.u39 {
  position:absolute;
  left:8px;
  top:36px;
  width:12px;
  height:26px;
}
.u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:26px;
}
.u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
